 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
 }

 body {
     background-color: white;
     background-image: url("palumbo.jpeg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }

 .mouse_move {
     position: relative;
     width: 100%;
     height: 100vh;
     font-size: 3vh;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .mouse_move h2 {
     position: absolute;
     font-size: 100px;
     color: white;
 }

 .mouse_move img {
     position: absolute;
 }

 #stairs {
     width: 120vw;
     height: 120vh;
     height: auto;
     z-index: -1;
 }

 span {
     white-space: nowrap;
 }

 .label {
     position: absolute;
     width: 200vw;
     color: white;
     transition-duration: 1s;
     white-space: nowrap;
 }

 #ff {
     top: 70vh;
     left: 0px;
 }

 #first,
 #second,
 #third,
 #fourth,
 #fifth,
 #construction {
     width: 100vw;
     display: inline-block;
     text-align: center;
     z-index: 2;
     text-shadow: 5px 5px 5px black;
 }

 #sf {
     top: 55vh;
     left: 0vw;
 }

 #tf {
     top: 40vh;
     left: 0vw;
 }

 #fourthf {
     top: 25vh;
     left: 0vw;
 }

 a {
     text-decoration: none;
     color: white;
     transition-duration: 0.5s;
     text-shadow: 5px 5px 10px black;
 }

 a:hover {
     text-decoration: underline;
     color: #00ccff;
     transition-duration: 0.5s;
 }

 #fourthf:hover {
     transition-duration: 1s;
 }

 #fifthf {
     top: 10vh;
     left: 0vw;
 }

 #fifthf:hover {
     transition-duration: 1s;
 }

 #aboutUs {
     font-size: (2vh+2vw);
     position: absolute;
     top: 90vh;
     width: 100vw;
     text-align: right;
 }

 #test {
     size: 40;
     position: absolute;
 }

 body {
     overflow: hidden;
 }

 img {
     position: absolute;
 }

 .front {
     z-index: 6;
     width: 100vw;
     height: 100vh;
     background-color: white;
     background-image: url("palumbo.jpeg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     line-height: 100vh;
     text-align: center;
     color: white;
     text-shadow: 0px 0px 30px #000000;
     font-size: 6em;
     -webkit-user-select: none;
     /* Safari */
     -moz-user-select: none;
     /* Firefox */
     -ms-user-select: none;
     /* IE10+/Edge */
     user-select: none;
     /* Standard */
 }

 #test {
     position: absolute;
     width: 100vw;
 }

 #logo {
     z-index: 4;
     height: 30vh;
     top: 5vh;
     left: 5vw;
 }

 #logo1 {
     position: absolute;
     z-index: 4;
     height: 30vh;
     top: 5vh;
     right: 5vw;
 }

 #board {
     position: absolute;
     height: 100vh;
     width: 100vw;
     background-color: darkcyan;
     z-index: 3;
 }

 #openn {
     z-index: 50;
 }